.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 40px;
}

label {
    font-weight: 600;
}

input {
    border: 1px #C7C7C7 solid;
    border-radius: 16px;
    padding: 12px;
    width: 16vw;
}

input:focus, .dropdown:focus {
    outline: none;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    position: relative;
}

.dropdown-header {
    border: 1px #C7C7C7 solid;
    border-radius: 16px;
    padding: 12px;
    width: 16vw;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-options {
    max-height: 220px;
    overflow-y: auto;
    scrollbar-width: thin; 
    width: 100%;
    position: absolute;
    background: white;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
    margin-top: 23px;
}

.option {
    padding: 14px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;
}

.option:hover {
    transition: 0.5s;
    background: #f3f3f3;
}