p {
    font-size: 18px;
    margin-left: 7%;
    margin-top: 25px;
    font-weight: bold;
}
label{
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}

.textoTable{
    width: 150px;
    color: black;
}
.mediaTexto{
    color: black;

}
.statusTexto{
    margin: 10px;
    color: black;

}