.table-container {

    border-radius: 20px;
    align-items: center;
    width: 90%;
    background-color: #FAFAFA;
    margin: 5%;
    padding: 40px 25px 25px 25px;
}
h1{
    margin-top: 50px;
    margin-left: 7%;
}
.search-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    padding-right: 50px;
}
.input-wrapper {
  position: relative;
  width: 220px;
}

.input-wrapper input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border-radius: 8px;
  border: none;
}
.filters-containers {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin-left: 7%;
    width: 20%;
    padding-right: 50px;
}
.filters-text {
  cursor: pointer;
  color: #666;
}

.filters-text.active {
  color: #E2857E;
  text-decoration: underline;
  font-weight: 600;
}


.input-icon {
  position: absolute;
  left: 220px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  cursor: pointer;
}

