.info-container {
    margin-left: 2vw;
    margin-top: 2vh;
    width: 100%;
    max-width: 77vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.left-cards {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 20px;
}

.right-table {
  flex: 1;
  max-height: 370px;
  overflow-y: auto;
  align-items: center;
}

.page-header {
  margin-top: 10vh;
  margin-left: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
select {
    width: 30%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}