.info-container {
    margin-left: 2vw;
    margin-top: 2vh;
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.left-cards {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 20px;
}

.right-table {
  flex: 1;
  max-height: 370px;
  overflow-y: auto;
  align-items: center;
}

select {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 16px;
}

select:focus {
  outline: none;
}