h1{
    margin-top: 50px;
    margin-left: 7%;
}

p{
    font-size: 20px;
    margin-left: 7%;
}
.grades-container{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 20px;
}

.filters-button-container{
    display: flex;
    width: 80%;
    margin-left: 7%;
}

.button-boletim{
    padding: 15px;
    border: #7C89AB 2px solid;

}

.table-cards-container{
    justify-content: space-between;
    display: flex;
    width: 60%;
    margin-left: 7%;
    margin-top: 20px;
}

.filters-containers {
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.filters-text {
  cursor: pointer;
  color: #666;
}

.filters-text.active {
  color: #E2857E;
  text-decoration: underline;
  font-weight: 600;
}
