h1{
    margin-top: 50px;
    margin-left: 7%;
    margin-bottom: 30px;
}
h2{
    margin-top: 70px;
    margin-left: 7%;
    margin-bottom: 15px;
    font-size: 28px;
}

p{
    font-size: 18px;
    margin-left: 7%;
    margin-bottom: 25px;
}
.grades-container{
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-top: 20px;
}

.filters-button-container{
    display: flex;
    width: 75%;
    margin-left: 7%;
    align-items: center;
    justify-content: space-between;
}


.pdf-wrapper {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 210mm;
  background: white;
}
.button-boletim{
    padding: 10px;
    border: #7C89AB 3px solid;
    background-color: transparent;
    border-radius: 15px;
    width: 200px;
    cursor: pointer;
    font-size: 16px;
    color: #7C89AB;
    font-weight: bold;

}

.table-cards-container{
    justify-content: space-between;
    display: flex;
    width: 75%;
    margin-left: 7%;
    margin-top: 20px;
}

.filters-containers {
    display: flex;
    width: 45%;
}
.filters-text {
  cursor: pointer;
  color: #666;
  margin-right: 50px;
  font-weight: bold;
}

.filters-text.active {
  color: #E2857E;
  text-decoration: underline;
  font-weight: 600;
  text-decoration-thickness: 2px;   /* espessura */
  text-underline-offset: 6px; 
}
    .table{
        width: 60%;
    }

@media (max-width: 1200px) {
    .table-cards-container{
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        padding: 0px;
        margin-left: 0px;
    }
    .filters-text {
      cursor: pointer;
      margin-bottom: 25px;
      color: #666;
      font-weight: bold;
    }

    .table{
        width: 80%;
        margin-top: 40px;
        margin-left: 10%;
    }
    .grades-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    } 
    .filters-button-container{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        
    }  

    .filters-containers {
        display: flex;
        justify-content: space-between;
        width: 70%;
        flex-wrap: wrap;
    }

    .button-boletim{
        padding: 10px;
        cursor: pointer;
        border: #7C89AB 3px solid;
        background-color: transparent;
        border-radius: 15px;
        width: 200px;
        font-size: 16px;
        color: #7C89AB;
        font-weight: bold;
        margin-top: 20px;

    }
}
