.page-wrapper {
  position: relative;
  min-height: 100%;
}

h1 {
    margin-top: 50px;
    margin-left: 7%;
    margin-bottom: 30px;
}

h2 {
    margin-top: 70px;
    margin-left: 7%;
    margin-bottom: 15px;
    font-size: 28px;
}

p {
    font-size: 18px;
    margin-left: 7%;
    margin-bottom: 25px;
}

.grades-container {
    display: flex;
    gap: 25px;
    flex-shrink: 0;
}

.filters-button-container {
    display: flex;
    width: 75%;
    margin-left: 7%;
    align-items: center;
    justify-content: space-between;
}

.pdf-wrapper {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 210mm;
  background: white;
}

.button-boletim {
    padding: 10px;
    border: #7C89AB 3px solid;
    background-color: transparent;
    border-radius: 15px;
    width: 200px;
    cursor: pointer;
    font-size: 16px;
    color: #7C89AB;
    font-weight: bold;
}

.btn-change-password {
  background-color: #454A6A;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  height: 40px;
  width: 200px;
  cursor: pointer;
  margin-left: 7%;
  margin-bottom: 30px;
  transition: background-color 1s;
}

.btn-change-password:hover {
  background-color: #2d324e;
}

.table-cards-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 75%;
    margin-left: 7%;
    margin-top: 20px;
}

.table-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    flex: 1;
    min-width: 300px;
    overflow: hidden;
}

.filters-containers {
    display: flex;
    width: 45%;
}

.filters-text {
  cursor: pointer;
  color: #666;
  margin-right: 50px;
  font-weight: bold;
}

.filters-text.active {
  color: #E2857E;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px; 
}

.table{
    width: 100%;
}

@media (max-width: 1200px) {
    .table-cards-container{
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        padding: 0px;
        margin-left: 0px;
    }

    .filters-text {
      cursor: pointer;
      margin-bottom: 25px;
      color: #666;
      font-weight: bold;
    }

    .table {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }

    .table-col {
        width: 80%;
        margin-left: 10%;
        margin-top: 40px;
    }

    .grades-container {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        gap: 15px;
        width: auto;
        margin-top: 20px;
    } 

    .filters-button-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        
    }  

    .filters-containers {
        display: flex;
        justify-content: space-between;
        width: 70%;
        flex-wrap: wrap;
    }

    .button-boletim {
        padding: 10px;
        cursor: pointer;
        border: #7C89AB 3px solid;
        background-color: transparent;
        border-radius: 15px;
        width: 200px;
        font-size: 16px;
        color: #7C89AB;
        font-weight: bold;
        margin-top: 20px;
    }
}
.white-container {
    margin-left: 7%;
    margin-top: 2vh;
    background-color: #FAFAFA;
    width: 80%;
    max-width: 77vw;
    height: 60vh;
    border-radius: 30px;
    padding: 1.5vw;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.white-container::-webkit-scrollbar {
    width: 8px;
}

.white-container::-webkit-scrollbar-track {
    background: transparent; 
    margin: 20px 0;
}

.white-container::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 20px;
    border: 2px solid transparent;
}

.white-container::-webkit-scrollbar-thumb:hover {
    background-color: #b0b0b0;
}