<app-base-modal
  cancelText="Cancelar"
  confirmText="Salvar"
  [isLoading]="isLoading"
  (cancel)="closeModal()"
  (confirm)="send()"
>
  <h2 modal-title>Alterar Senha</h2>
  <div modal-body>
    <div class="input-group">
      <label for="current-password">Senha atual</label>
      <input
        type="password"
        id="current-password"
        placeholder="Insira sua senha atual"
        [value]="currentPassword"
        (input)="currentPassword = $any($event.target).value"
      >
    </div>
    <div class="input-group">
      <label for="new-password">Nova senha</label>
      <input
        type="password"
        id="new-password"
        placeholder="Insira a nova senha"
        [value]="newPassword"
        (input)="newPassword = $any($event.target).value"
      >
    </div>
  </div>
</app-base-modal>
