.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

label {
    font-weight: 600;
}

input {
    border: 1px #C7C7C7 solid;
    border-radius: 16px;
    padding: 12px;
    width: 16vw;
}

input:focus, .dropdown:focus {
    outline: none;
}