<app-base-modal 
  cancelText="Cancelar"
  [confirmText]="isEditMode ? 'Salvar' : 'Enviar'"
  (cancel)="closeModal()"
  (confirm)="sendScore()"
>
  <h2 modal-title>{{ isEditMode ? 'Editar nota' : 'Enviar nota' }}</h2>
  <div modal-body>
    <div class="input-group">
      <label for="activity">Atividade</label>
      <input type="text" id="activity-name" [value]="activityName" (input)="activityName = $any($event.target).value" [placeholder]="isEditMode ? '' : 'Insira o nome da atividade'">
    </div>
    <div class="input-group">
      <label for="score">Nota</label>
      <input type="number" id="activity-score" [value]="activityScore" (input)="activityScore = $any($event.target).value" [placeholder]="isEditMode ? '' : 'Insira a nota para a atividade'" max="10"
      min="0">
    </div>
  </div>
</app-base-modal>
