<div class="page-header">
  <h1>Lista de Observações</h1>
</div>
<div class="list-container">
    <div class="white-container">
        @if (isLoading) {
            <app-loading-spinner></app-loading-spinner>
        } @else if (observationsList.length > 0) {
            @for (obs of observationsList; track obs.id) {
                <app-observation
                    [teacherName]="obs.professor"
                    [studentName]="obs.aluno"
                    [date]="(obs.data | date:'dd/MM/yyyy HH:mm') ?? ''"
                    [message]="obs.text"
                    [type]="userType === 'admin' || userType === 'professor' ? 'teacher' : 'student'"
                    (deleteObs)="excluirObservacao(obs.id)"
                >
                </app-observation>
            }
        } @else {
            <p class="without-info">
                Nenhuma observação encontrada.
            </p>
        }
    </div>
</div>
