div {
    background-color: var(--card-bg-color, #FAFAFA); 
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

p {
    color: var(--card-title-color, #E2857E);
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: var(--card-value-color, #616161);
    margin-top: 30px;
    font-size: 3rem;
    text-align: center;
}