div{
    margin-top: 50px;
    margin-left: 7%;
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 20px;
    align-items: center;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
}
p{
    color: #E2857E;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}
h1{
    margin-top: 35px;
    color: #616161;
    font-size: 40px;
}