
@if (isLoading) {
  <app-loading-spinner></app-loading-spinner>
} @else {

<table [class.pdf]="pdfMode"
       class="custom-table"
       *ngIf="type === 'students-for-teacher'">

  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Matrículaaa</th>
      <th>Detalhes</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let row of dataStudent">
      <td>{{ row.nome }}</td>
      <td>{{ row.cpf }}</td>
      <td>{{ row.matricula }}</td>
      <td class="td-action" (click)="goToStudent(row)">
        <p class="icon-action" >Ver mais</p>
        <img class="icon-action" src="open-new-window.svg" alt="">
      </td>
    </tr>
  </tbody>


</table>
<table [class.pdf]="pdfMode"
       class="custom-table"
       *ngIf="type === 'students-for-admin'">

  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Matrícula</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let row of dataStudent">
      <td>{{ row.nome }}</td>
      <td>{{ row.cpf }}</td>
      <td>{{ row.matricula }}</td>
      <td>
        <img class="icon-action" *ngIf="row.ativo === '0'" (click)="deletarAluno(row.id ? row.id:0)" src="remove-user.svg" style="margin-right: 30px;" alt="">
        <img class="icon-action" *ngIf="row.ativo === '1'" (click)="acionarAluno(row.id ? row.id:0)" src="remove-user.svg" alt="">
        <img class="icon-action" *ngIf="row.ativo === '0'"  src="verified-user.svg" (click)="acionarAluno(row.id ? row.id:0)" alt="">
      </td>
    </tr>
  </tbody>

</table>
<table
  [class.pdf]="pdfMode"
  class="custom-table"
  *ngIf="type === 'subjects-for-admin'">

  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Aprovados</th>
      <th>Reprovados</th>
      <th>Média</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let subject of dataSubject">
      <td>{{ subject.disciplina }}</td>
      <td>{{ subject.aprovados }}</td>
      <td>{{ subject.reprovados }}</td>
      <td>{{ subject.mediaDisciplina | number:'1.1-2' }}</td>
    </tr>
  </tbody>

</table>
<table
  [class.pdf]="pdfMode"
  class="custom-table"
  *ngIf="type === 'subjects-for-teacher'">

  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Média</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let subject of dataSubject">
      <td>{{ subject.disciplina }}</td>
      <td>{{ subject.mediaDisciplina | number:'1.1-2' }}</td>
    </tr>
  </tbody>

</table>

<table [class.pdf]="pdfMode"
       class="custom-table"
       *ngIf="type === 'teacher-for-students'">

  <thead>
    <tr>
      <th>Nome</th>
      <th>Disciplina</th>
      <th>Matrícula</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let professor of dataTeacher">
      <td>{{ professor.nome }}</td>
      <td>{{ professor.disciplina?.nome }}</td>
      <td>{{ professor.matricula }}</td>
    </tr>
  </tbody>

</table>
<table [class.pdf]="pdfMode"
       class="custom-table"
       *ngIf="type === 'teacher-for-admin'">

  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Matrícula</th>
      <th>Disciplina</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let professor of dataTeacher">
      <td>{{ professor.id }}</td>
      <td>{{ professor.nome }}</td>
      <td>{{ professor.cpf }}</td>
      <td>{{ professor.matricula }}</td>
      <td>{{ professor.disciplina?.nome }}</td>
    </tr>
  </tbody>

</table>

<div [class.pdf]="pdfMode" *ngIf="type =='scores-for-pdf'">
    <table class="custom-table" >
        <thead>
            <th >Disciplina</th>
            <th>Média Final</th>
            <th >Situação</th>
            </thead>
            <tbody>
            <tr *ngFor="let row of dataScores">
                <td>
                <span>{{ row.disciplina }}</span>
                </td>
                <td>
                <span>{{ row.media }}</span>
                </td>
                <td>
                <span>{{ row.status ? 'Aprovado' : 'Reprovado' }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

}
