<div class="modal-backdrop">
  <div class="modal-container">
    <div class="modal-header">
      <ng-content select="[modal-title]"></ng-content>
    </div>
    <div class="modal-body">
      <ng-content select="[modal-body]"></ng-content>
    </div>
    <div class="modal-footer">
      <button class="btn-cancel" (click)="onCancel()">
        {{ cancelText }}
      </button>
      <button class="btn-confirm" (click)="onConfirm()">
        {{ confirmText }}
      </button>
    </div>
  </div>
</div>