.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-container {
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 47px;
    color: #2C2C2C;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 50px;
}

.modal-header, .modal-body {
    width: 100%;
    height: auto;
    color: #2C2C2C;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.modal-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.modal-footer > button {
    width: 100%;
    font-size: 1rem;
    height: auto;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
}

.btn-cancel {
    background-color: transparent;
    border: 2px solid #454A6A;
    color: #454A6A;
}

.btn-confirm{
    background-color: #454A6A;
    border: none;
    color: white;
}
