.status-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.status-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-content {
    margin-top: -90px;
    background-color: white;
    width: 22vw;
    padding: 18px;
    border-radius: 16px;
}

.illustration-container {
    display: flex;
    justify-content: center;
    height: 60vh;
}

.status-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
}

.status-description {
    font-size: 1.2rem;
    text-align: center;
}