<div class="page-header">
  <h1>Lista de Professores</h1>

  <button *ngIf="isAdmin" class="add-teacher" (click)="openRegisterModal()">
    Adicionar professor
    <span>
      <img src="/add-user.svg" alt="">
    </span>
  </button>
</div>
<div class="table-container">
    <div class="search-container">
        <div class="input-wrapper">
          <img 
            src="/search.svg" 
            class="input-icon"
          >
          <input placeholder="Buscar professor" (input)="searchByName($event.target.value)">
        </div>
    </div>

    <app-table
      [dataTeacher]="teachersDataFiltered"
      [type]="'teacher-for-students'"
      [isLoading]="isLoading"
    ></app-table>

</div>

<app-register-modal 
  *ngIf="showRegisterModal"
  [isOpen]="showRegisterModal"
  (confirm)="onRegisterSuccess($event)"
  (close)="onModalClose()"
></app-register-modal>

<app-system-status
  *ngIf="showStatus"
  [type]="statusType"
  [title]="statusTitle"
  [description]="statusDescription"
  (closed)="onStatusClose()"
></app-system-status>
