.login-container{
    background-color: #FAFAFA;
    width: 80%;
    height: 90vh;
    margin: auto;
    margin-top: 30px;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
    display: flex;
    align-content: center;
}

.image-container{
    width: 50%;
    border-radius: 50px;
    background-color: #F8EAEA;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 2.5%;
}

.image-login{
    width: 60%;
    height: 60%;
}

.title-login{
    font-size: 40px;
    font-weight: 700;
}

.form-container{
    justify-content: center;
    flex-direction: column;
    width: 50%;
    align-items: center;
    display: flex;
}

.input-container{
    flex-direction: column;
    margin-top: 30px;
    width: 70%;
    display: flex;
}

label {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 450;
}

input {
    height: 6vh;
    border-radius: 16px;
    border: 1.5px solid #C7C7C7;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 200;
    background-color: transparent;
}

input:focus{
    outline: none;
}

.button-register {
    margin-top: 5vh;
    width: 70%;
    height: 6vh;
    background-color: #454A6A;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.label-login{
    color: #2C2C2C;
}

.register-link{
    width: 60%;
    justify-content: space-between ;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.line{
    width: 20%;
    height: 1px;
    background-color: #C7C7C7;
}

a{
    font-weight: 300;
    font-size: 1rem;
    color: #7C89AB;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    width: 40vw;
}

a:hover{
    text-decoration: underline;
}

@media (max-width: 858px) {
    body{
        background-color: #F8EAEA;
    }
    .login-container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 900px;
    margin: auto;
    margin-top: 50px;
    border-radius: 50px;
    padding-top: 50px;
    padding-left: 0px;
    margin-left: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
    display: flex;

    }
    .form-container{
    flex-direction: column;
    padding: 40px;
    height: 800px;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    }

    .image-container{
        display: none;
    }

    .form-container{
        width: 100%;
    }

    .input-container{
        flex-direction: column;
        margin-top: 30px;
        width: 80%;
        display: flex;
    }

    .register-link{
        width: 80%;
        justify-content: space-between ;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
    }

    .line{
        width: 40%;
        height: 2px;
        background-color: #454A6A;
        margin-bottom: 10px;
    }
    
    .button-login{
        margin-top: 50px;
        width: 80%;
        height: 60px;
        background-color: #454A6A;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 22px;
        font-weight: 700;
        cursor: pointer;
    }
}
