<div class="sidebar" [class.closed]="!isOpen">
    <div class="branding">
        <img src="icon_school.svg" alt="" id="school-icon" *ngIf="isOpen">
        <img src="atlas.svg" alt="" id="school-name" *ngIf="isOpen">
        <img [src]="iconAction" alt="" id="button-action" (click)="toggleSidebar()">
    </div>

    <div class="itens-tab">
        <app-tab 
            *ngFor="let item of filteredMenu"
            [icon]="item.icon"
            [name]="item.name"
            [link]="item.link"
            [sidebarOpen]="isOpen">
        </app-tab>
    </div>
</div>
